.git/
__pycache__/
home/
GEMINI.md
lib*
dist*
build*
bin*
PROJECT*
workspaces*
sessions/
session_templates/
scratchpad*
*.db
*config.json
*.spec
pyvenv.cfg
CACHEDIR.TAG
roadmap.md

# Additional Virtual Environment Folders
include/
share/

# System / Run files
.lock

# Standard Python Ignores
*.pyc
*.pyo
*.pyd
.env
*.log
